[package]
name = "kubvernor"
version = "0.1.1"
edition = "2021"

[dependencies]
atomic-take = "1.1.0"
futures = "0.3"
envoy-api-rs = { version = "0.1.1", git = "https://github.com/kubvernor/envoy-api-rs", branch = "main" }
gateway-api = { version = "0.16.0", git = "https://github.com/kubvernor/gateway-api-rs", branch = "main" }
k8s-openapi = { version = "0.25", features = ["v1_32", "schemars"] }
kube = { version = "1", features = [
    "runtime",
    "client",
    "derive",
    "http-proxy",
] }
thiserror = "2"
tokio = { version = "1.39.3", features = ["full"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
schemars = "1"
kube-core = "1"
env_logger = "0.11.5"
clap = { version = "4.5.16", features = ["derive"] }
clap_derive = "4.5.13"
uuid = { version = "1.10.0", features = ["v4"] }
async-trait = "0.1.82"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tracing-appender = "0.2.3"
itertools = "0.14"
tera = "1.20"
rustls-pki-types = "1.10"
eater_domainmatcher = "0.1.2"
typed-builder = "0.21"
tracing-opentelemetry = "0.31"
opentelemetry_sdk = { version = "0.30", features = ["rt-tokio"] }
opentelemetry = "0.30"
opentelemetry-otlp = { version = "0.30", features = ["grpc-tonic"] }
cfg-if = "1.0"
tokio-stream = "0.1.17"
gateway-api-inference-extension = { version = "0.1.0", git = "https://github.com/kubvernor/gateway-api-inference-extension-rs.git" }
multiset = "0.0.5"
agentgateway-api-rs = { version = "0.1.0", git = "https://github.com/kubvernor/agentgateway-api-rs", optional = true }
kubvernor-api = { version = "0.1.0", git = "https://github.com/kubvernor/kubvernor-api-rs" }
serde_yaml = "0.9"
lru_time_cache = "0.11"

[dev-dependencies]
tower-test = "0.4"
http = "1.3"

[features]
default = ["standard", "envoy_xds", "agentgateway"]
standard = []
experimental = []
envoy_xds = []
envoy_cm = []
agentgateway = ["dep:agentgateway-api-rs"]


[profile.release]
codegen-units = 1
debug = false
debug-assertions = false
incremental = false
lto = true
opt-level = 3
overflow-checks = false
panic = "abort"
rpath = false
strip = "debuginfo"


[profile.release-debuginfo]
debug = "full"
inherits = "release"
panic = "abort"
split-debuginfo = "packed"
strip = false

[lints.clippy]
pedantic = { level = "warn", priority = -1 }
#struct_field_names = "allow"
clone_on_ref_ptr = "warn"
disallowed-methods = "deny"
doc_markdown = "allow"
get_unwrap = "warn"
if_then_some_else_none = "warn"
missing_errors_doc = "allow"
missing_panics_doc = "allow"
module_name_repetitions = "allow"
must_use_candidate = "allow"
print_stderr = "warn"
print_stdout = "warn"
str_to_string = "warn"
string_to_string = "warn"
todo = "warn"
unwrap_used = "warn"
