version_info: "0"
resources:
- "@type": type.googleapis.com/envoy.config.route.v3.RouteConfiguration
  name: {{route.name}}
  virtual_hosts:{% for vc in route.virtual_hosts %}
  - name: backend-{{vc.hostname}}
    domains:
    - "{{vc.hostname}}"
    routes:{% for route_conf in vc.route_configs %}            
      - match:
          prefix: "{{route_conf.path}}"	  
        route:
          cluster: {{route_conf.cluster_name}}
          {% endfor %}{% endfor %}          