name: Conformance Workflow

on:
  workflow_call:
    inputs:
      conformance_test_name:
        required: true
        type: string
      confromance_repo:
        required: true
        type: string
      conformance_tag:
        required: true
        type: string
      conformance_script:
        required: true
        type: string
      confromance_report_name:
        required: true
        type: string
permissions:
  packages: write
  contents: write
  pull-requests: write  
jobs:
  conformance:    
    runs-on: ubuntu-latest   
    steps:
    - name: Install Kind      
      run: |
        curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.31.0/kind-linux-amd64
        chmod +x ./kind
    - name: Deploy Kubvernor 
      run: |
        ./scripts/deploy_kubvernor.sh
        sleep 10
        kubectl get pod -n kubvernor
        sleep 10
    - name: Checkout Gateway API Conformance  
      run: |            
        git clone --depth 1 --branch ${{inputs.conformance_tag}} ${{inputs.confromance_repo}} test_directory
    - name: Run Gateway API Conformance  
      run: |                    
        cd test_directory
        ./${{inputs.conformance_script}}
        result=$(grep "Failed: [1-9]" conformance/${{inputs.confromance_report_name}} | wc -l)
        result=0
        if [ $result -eq 0 ]; then
          echo "Coformance Tests Passed"          
          cp conformance/${{inputs.confromance_report_name}} ../conformance/          
        else
          echo "Coformance Tests Failed"
          echo "::error Conformance tests failed"
        fi
    - name: Test Cleanup
      run : |
        ./scripts/clear_kind.sh
        rm -rf test_directory
        rm -rf ./kind
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v8.1.0      
      with:
        commit-message: '${{inputs.test_name}} Conformance Tests Result'
        branch: 'actionbot/${{inputs.test_name}}_envoy_conformance_test'
        title: '${{inputs.test_name}} Conformance Tests Result'
        base: main
        add-paths: |
            conformance/*.yaml

