name: Conformance Testing with Envoy 2
on:
  push:
    branches: [ "dawid.nowak/git_action_conformance_testing_2" ]       
env:
  IMAGE_NAME: kubvernor
  VERSION: 0.2.0
permissions:
  packages: write
  contents: write
  pull-requests: write
  
jobs:
  conformance-test:
    uses: ./.github/workflows/conformance_workflow.yaml
    name: Conformance Workflow
    with:
      test_name: envoy
      repo: https://github.com/kubernetes-sigs/gateway-api.git
      tag: v1.4.0
      script: "../scripts/run_conformance.sh"
      report_name: kubvernor-gateway-conformance-report-1.4.0-envoy.yaml
      
  # build:    
  #   runs-on: ubuntu-latest      
  #   steps:
  #   - uses: actions/checkout@v6
  #     name: Checkout repo
  #   - uses: ./.github/workflows/conformance_workflow
  #     name: Conformance Workflow
  #     with:
  #       conformance_test_name: envoy
  #       conformance_repo: https://github.com/kubernetes-sigs/gateway-api.git
  #       conformance_tag: v1.4.0
  #       conformance_script: "../scripts/run_conformance.sh"
  #       confromance_report_name: kubvernor-gateway-conformance-report-1.4.0-envoy.yaml
        
