name: Gateway API Inference Extension Conformance Testing 
on:
  # push:
  #   branches: [ "dawid.nowak/git_action_conformance_testing_2" ]    
  workflow_run:
    workflows: [Gateway API Conformance Testing]
    types:
      - completed    
env:
  IMAGE_NAME: kubvernor
  VERSION: 0.2.0
permissions:
  packages: write
  contents: write
  pull-requests: write
  
jobs:
  inference-conformance-test-envoy:
    uses: ./.github/workflows/conformance_workflow.yaml
    name: Conformance Workflow
    with:
      commit_message: Envoy Gateway API Inference Extension Conformance Testing Result
      test_name: Envoy
      repo: https://github.com/kubernetes-sigs/gateway-api-inference-extension.git
      tag: v1.1.0
      script: "../scripts/run_inference_conformance.sh"
      report_name: kubvernor-inference-conformance-report-1.1.0-envoy.yaml
  conformance-test-orion:
    uses: ./.github/workflows/conformance_workflow.yaml
    name: Conformance Workflow
    with:
      commit_message: OrionProxy Gateway API Inference Extension Conformance Testing Result
      test_name: OrionProxy
      repo: https://github.com/kubernetes-sigs/gateway-api-inference-extension.git
      tag: v1.1.0
      script: "../scripts/run_inference_conformance_orionproxy.sh"
      report_name: kubvernor-inference-conformance-report-1.1.0-orionproxy.yaml
  conformance-test-agentgateway:
    uses: ./.github/workflows/conformance_workflow.yaml
    name: Conformance Workflow
    with:
      commit_message: Agentgateway Gateway API Inference Extension Conformance Testing Result
      test_name: Agentgateway
      repo: https://github.com/kubernetes-sigs/gateway-api-inference-extension.git
      tag: v1.1.0
      script: "../scripts/run_inference_conformance_agentgateway.sh"
      report_name: kubvernor-inference-conformance-report-1.1.0-agentgateway.yaml            
        
