name: Conformance Testing with Envoy

on:
  push:
    branches: [ "main", "dawid.nowak/git_action_conformance_testing" ]       
  workflow_run:
    workflows: [Docker Image CI]
    types:
      - completed    
env:
  IMAGE_NAME: kubvernor
  VERSION: 0.2.0
permissions:
  packages: write
  contents: write
  pull-requests: write  
jobs:
  build:    
    runs-on: ubuntu-latest   
    steps:
    - uses: actions/checkout@v6
      name: Checkout repo
    - name: Install Kind      
      run: |
        curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.31.0/kind-linux-amd64
        chmod +x ./kind
    - name: Deploy Kubvernor 
      run: |
        ./scripts/deploy_kubvernor.sh
        sleep 10
        kubectl get pod -n kubvernor
        sleep 10
    - name: Checkout Gateway API Conformance  
      run: |            
        git clone --depth 1 --branch v1.4.0 https://github.com/kubernetes-sigs/gateway-api.git
    - name: Run Gateway API Conformance  
      run: |                    
        cd gateway-api
        # go test ./conformance -count=1 -v -run TestConformance -failfast=true -timeout=1h -args --gateway-class=kubvernor-conformance-gateway-envoy --conformance-profiles=GATEWAY-HTTP,GATEWAY-GRPC --organization=kubvernor  --allow-crds-mismatch --project=kubvernor  --url=github.com/kubvernor/kubvernor --version=0.2.0   --skip-tests=HTTPRouteHostnameIntersection  --supported-features=Gateway,HTTPRoute,GatewayPort8080,HTTPRouteHostRewrite,HTTPRoutePathRedirect,HTTPRouteRequestMirror,HTTPRouteRequestPercentageMirror,HTTPRouteResponseHeaderModification,HTTPRouteSchemeRedirect  --report-output=kubvernor-gateway-conformance-report-1.4.0-envoy.yaml
        # result=$(grep "Failed: [1-9]" conformance/kubvernor-gateway-conformance-report-1.4.0-envoy.yaml | wc -l)
        result=0
        if [ $result -eq 0 ]; then
          echo "Coformance Tests Passed"          
          echo "Blah" >> ../kubvernor/conformance/kubvernor-gateway-conformance-report-1.4.0-envoy.yaml
        else
          echo "Coformance Tests Failed"
          echo "::error Conformance tests failed"
        fi
    - name: Test Cleanup
      run : |
        ./scripts/clear_kind.sh
        rm -rf gateway-api
        rm -rf ./kind
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v8.1.0      
      with:
        commit-message: Envoy Conformance Tests Result
        branch: gateway_envoy_conformance_test
        title: 'Envoy Conformance Tests Result'
        add-paths: |
            conformance/*.yaml            
        
        
      
    
        
        
        
        
        
        


