name: Conformance Testing

on:
  push:
    branches: [ "main", "dawid.nowak/git_action_conformance_testing" ]       

env:
  IMAGE_NAME: kubvernor
  VERSION: 0.2.0
  
jobs:

  build:

    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
    - uses: actions/checkout@v5
    # - name: Build the Docker image
    #   run: docker build . --file docker/Dockerfile --tag $IMAGE_NAME:latest
    - name: Install Kind    
      run: |
        curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.31.0/kind-linux-amd64
        chmod +x ./kind
        ./scripts/deploy_kubvernor.sh
        kubectl get pod -n kubvernor 
        
        
        


