name: Conformance Testing with Envoy

on:
  push:
    branches: [ "main", "dawid.nowak/git_action_conformance_testing" ]       
  workflow_run:
    workflows: [Docker Image CI]
    types:
      - completed

env:
  IMAGE_NAME: kubvernor
  VERSION: 0.2.0
  
jobs:

  build:

    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
    - uses: actions/checkout@v5    
    - name: Install Kind    
      run: |
        curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.31.0/kind-linux-amd64
        chmod +x ./kind
        ./scripts/deploy_kubvernor.sh
        sleep 10
        kubectl get pod -n kubvernor
        sleep 10
        git clone --depth 1 --branch v1.4.0 https://github.com/kubernetes-sigs/gateway-api.git
        cd gateway-api
        go test ./conformance -count=1 -run TestConformance -failfast=true -timeout=1h -args --gateway-class=kubvernor-conformance-gateway-envoy --conformance-profiles=GATEWAY-HTTP,GATEWAY-GRPC --organization=kubvernor  --allow-crds-mismatch --project=kubvernor  --url=github.com/kubvernor/kubvernor --version=0.2.0   --skip-tests=HTTPRouteHostnameIntersection  --supported-features=Gateway,HTTPRoute,GatewayPort8080,HTTPRouteHostRewrite,HTTPRoutePathRedirect,HTTPRouteRequestMirror,HTTPRouteRequestPercentageMirror,HTTPRouteResponseHeaderModification,HTTPRouteSchemeRedirect  --report-output=kubvernor-gateway-conformance-report-1.4.0-envoy.yaml
        more conformance/kubvernor-gateway-conformance-report-1.4.0-envoy.yaml

        # cp ../scripts/run_conformance*.sh .
        # ./run_conformance.sh
        
        
        
        
        


