name: Conformance Testing

on:
  push:
    branches: [ "main", "dawid.nowak/git_action_conformance_testing" ]       

env:
  IMAGE_NAME: kubvernor
  VERSION: 0.2.0
  
jobs:

  build:

    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
    - uses: actions/checkout@v5    
    - name: Install Kind    
      run: |
        curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.31.0/kind-linux-amd64
        chmod +x ./kind
        ./scripts/deploy_kubvernor.sh
        sleep 10
        kubectl get pod -n kubvernor
        sleep 10
        git clone --depth 1 --branch v1.4.0 https://github.com/kubernetes-sigs/gateway-api.git
        cd gateway-api
        cp ../scripts/run_conformance*.sh .
        ./run_conformance.sh
        
        
        
        
        


